@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#nav-bar * {
    font-size: 14px;
}

.nav-link {
    color: #494949;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 100ms;
    border-radius: 3px;
    padding: 3px 10px 3px 10px;
    margin: 18px 0 14px 0;
}

.nav-link:hover {
    background: #f0f0f0;
}

.nav-a {
    text-decoration: none;
    color: black;
}

#nav-title {
    margin: 18px 0 18px 0;
    border-bottom: solid transparent 1px;
}

.current {
    color: black;
}