body {
    display: flex;
    justify-content: center;
}

#title {
    text-align: center;
    margin: 0 0 40px 0;
}

#title h1 {
    margin: 0;
}

#projects-container {
    width: max(860px, 60%);
}

.project {
    transition: background-color 200ms;
    padding: 5px 10px;
    margin: 25px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #f4f4f4;
    box-shadow: 0 0.5em 0.75em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.project:hover {
    background-color: #fafafa;
}

.project h4, .project i, .project p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tag {
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.date {
    border: 1px solid #333;
}

.js {
    border: 1px solid #F0DB4F;
    background-color: #F0DB4F;
}

.python {
    border: 1px solid #4B8BBE;
    background-color: #4B8BBE;
}
