body {
    display: flex;
    justify-content: center;
}

#projects-container {
    width: max(860px, 60%);
    margin: 10px 0;
}

.project {
    width: calc(100% + 20px);
    transition: background-color 200ms;
    padding: 5px 10px;
    margin-left: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project:hover {
    background-color: #f8f8f8;
}

.project h4, .project i, .project p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tag {
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.date {
    border: 1px solid #333;
}

.js {
    border: 1px solid #F0DB4F;
    background-color: #F0DB4F;
}

.python {
    border: 1px solid #4B8BBE;
    background-color: #4B8BBE;
}
